body{
    background-color: #000000;
    color: #FFFFFF;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Halant Regular';
    font-size: 18px;
    line-height: 1.5;
    color: #b8b8b8;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.btn_hover{
    color: #000000;
    background-color: #FFCC33;
}
.btn_hover:hover{
    color: #FFFFFF;
    background-color: #b8b8b8;
    transition: .5s;
}
.pd_top{
    padding-top: 100px;
}
.pd_bottom{
    padding-bottom: 100px;
}
.rest_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 25%;
    padding-bottom: 50px;
    width: 49.5%;
}
.rest_title_head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.rest_title_head h2{
    font-size: 40px;
}
.price{
    color: #FFCC33;
    font-family: 'Poppins Bold';
}
.icon_hover{
    color: #FFCC33;
    cursor: pointer;
}
.icon_hover:hover{
    color: #b8b8b8;
    transition: .5s;
}